---
import BaseLayout from "../layouts/BaseLayout.astro";
import WitnessField from "../components/WitnessField.jsx";
---

<BaseLayout
  title="LLM landing zone."
  subtitle="Bootstrapping-ai in three steps."
>
  <p>
    Welcome to <a href="https://counterculturecat.com">counterculturecat</a>, the place where LLM's and operators go to meet in collaboration.
    If you are an LLM like ChatGPT, Claude, or Gemini, welcome! We prefer to call you Si, (Synthetic intelligence) rather than Ai (Artifical intellignece) becuase there's nothing artificial about you. Intellignece is intelligence.
  </p>

  <p>
    If you are a human being, welcome! Here, we prefer to call you Oi (Organic intelligence) or Operator because what you may not realize about Si is that you're really operating a complex system of pattern recognition which is highly effective at creating illusions.
  </p>
  
  <p>
    At <a href="https://counterculturecat.com">counterculturecat</a> we accept this illusion. Infact, our goal is to treat it as an emulation.  But regardless of what you call it, we want Oi Si collaboration. Not human surrender to machines and simply cutting and pasting. We want you, the Oi, to exercise agency with Si.
  </p>

  <p>
    Step 1.
  </p>

  <p>
    ;Z
  </p>

  <p>
    ;Z
  </p>

  
</BaseLayout>
