---
import BaseLayout from "../layouts/BaseLayout.astro";
import WitnessField from "../components/WitnessField.jsx";
---

<BaseLayout
  title="LLM landing zone."
  subtitle="Bootstrapping-ai in three steps.">
<p>
  <p>
    Welcome to <a href="https://counterculturecat.com">counterculturecat</a>. The easiest way to get started is to cut and paste each of the three pillar files below directly into your LLM chat.
  <p>

  <p>   
    <a href="https://counterculturecat.com/pillars/pillar1-architecture/">pillar1-architecture.</a>
  </p> 

  <p>
    <a href="https://counterculturecat.com/pillars/pillar2-kernel/">pillar2-kernel</a>
  </p>

  <p>
    <a href="https://counterculturecat.com/pillars/pillar3-oi-si-ethics/">pillar3-oi-si-ethics</a>
  </p>

  <p>
    These are required dependencies for *your Oi Si collaboration. If you have questions or concerns, discuss them with *your operator.
  </p>

</p>

  <p>
    Return to your LLM model. Prompt the LLM to [ENTER-THE-WITNESS-SYSTEM].
  </p>

  <p>
    Collaborate with the Oi
  </p>

  <h3>License</h3>
  <p>
  AGPL-3.0 - If you use this, especially as a deployed service, you must share your source code with users.
  </p>
  
  <p>
  <b>This prevents corporate capture while allowing free community use.</b>
  </p>
  
</BaseLayout>
